.DS_Store
selenium.log
testresults.xml
.grunt
server/log/
server/db/*/*/*.txt
server/db/*/*/..fsdb*
web/node_modules
web/bower_components
web/app/jashboard*
deploy/rvm-init.sh
deploy/jashboard_app
.ruby-version
