<div class="ng-cloak">
  <div data-ng-include="'html/info_box_partial.html'"></div>
  <div id="dashboard-navbar" class="hide" data-ng-class="{show: (dashboards.length > 0)}">
    <ul class="nav nav-tabs">
      <li class="dashboard-tab" data-ng-class="{active: isActiveDashboard()}" data-ng-repeat="dashboard in dashboards">
        <span id="tab-{{dashboard.id}}" data-ng-click="showDashboard()">{{dashboard.name}}</span>
      </li>
    </ul>
  </div>
  <div id="dashboard-container">
    <div id="{{dashboard.id}}" data-ng-class="{active: isActiveDashboard()}"
      data-ng-show="isActiveDashboard()"
      data-ng-repeat="dashboard in dashboards">
      <div class="dashboard-actions">
        <span class="dashboard-action action-delete" data-ng-click="dashboardAction('deleteDashboard')">Delete</span>
        <span class="dashboard-action action-edit" data-ng-click="dashboardAction('editDashboard')">Edit</span>
        <span class="dashboard-action action-new" data-ng-click="dashboardAction('newMonitor')">Add monitor</span>
      </div>
      <div class="dashboard-content">
        <div id="{{monitor.id}}" class="monitor-panel" data-ng-class="monitor.type + '-monitor-panel'"
          data-ng-repeat="monitor in dashboard.monitors"
          data-ng-controller="MonitorController"
          data-jb-draggable="{handleSelector: '.drag-handle', stackSelector: '.monitor-panel', onDragStop: 'MonitorPositionChanged'}"
          data-jb-resizable="{onResizeStop: 'MonitorSizeChanged', resizeChildren: '.monitor-details'}"
          data-ng-style="monitor.cssLayout()">
          <div class="monitor-bar">
            <span class="drag-handle"></span>
            <span class="monitor-action action-delete" title="Delete" data-ng-click="removeMonitor()"></span>
            <span class="monitor-action action-edit" title="Settings" data-ng-click="editMonitor()"></span>
            <span class="monitor-action action-refresh" title="Refresh" data-ng-click="refreshRuntimeInfo()"></span>
          </div>
          <div class="monitor-title">
            <span class="monitor-icon-ajax-loader" data-ng-show="monitor.loadingStatus == 'waiting'"></span>
            <span class="monitor-icon-ajax-error" title="" data-ng-show="monitor.loadingStatus == 'error'">
              <jb-tooltip-error class="hide" data-message="errorMessage" data-toggle="monitor.loadingStatus == 'error'"/>
            </span>
            <span class="monitor-name">{{monitor.name}}</span>
          </div>
          <div class="monitor-details scrolling" data-jb-monitor-display>
            <div data-ng-include="'html/plugins/' + monitor.type + '/monitor_runtime_partial.html'" onload="resetSize()"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hide" data-jb-overlay="{show: 'AjaxError'}" data-jb-overlay-options="{opacity: '0.1', autoHideAfter: 1500}">
    <div class="overlay-msg alert alert-error">
      <spam>Unfortunately an error occurred while processing your request.</spam>
    </div>
  </div>
  <div class="hide" data-jb-overlay="{show: 'DataLoadingStart', hide: 'DataLoadingComplete,DataLoadingError'}">
    <div class="overlay-msg info">
      <spam class="ajax-loader-msg"> Loading dashboards... Please wait.</spam>
    </div>
  </div>
  <div class="hide" data-jb-overlay="{show: 'DashboardSaveStart', hide: 'DashboardSaveComplete'}">
    <div class="overlay-msg info">
      <spam class="ajax-loader-msg"> Saving dashboard... Please wait.</spam>
    </div>
  </div>
  <div class="hide" data-jb-overlay="{show: 'DashboardDeleteStart', hide: 'DashboardDeleteComplete'}">
    <div class="overlay-msg info">
      <spam class="ajax-loader-msg"> Deleting dashboard... Please wait.</spam>
    </div>
  </div>
  <div class="hide" data-jb-overlay="{show: 'MonitorSaveStart', hide: 'MonitorSaveComplete'}">
    <div class="overlay-msg info">
      <spam class="ajax-loader-msg"> Saving monitor... Please wait.</spam>
    </div>
  </div>
  <div class="hide" data-jb-overlay="{show: 'MonitorDeleteStart', hide: 'MonitorDeleteComplete'}">
    <div class="overlay-msg info">
      <spam class="ajax-loader-msg"> Deleting monitor... Please wait.</spam>
    </div>
  </div>
  <div data-ng-include="'html/monitor_form_dialog_partial.html'"></div>
  <div data-ng-include="'html/dashboard_form_dialog_partial.html'"></div>
</div>
