<div id="monitor-form" class="modal hide fade" role="dialog" aria-hidden="true" 
     data-jb-dialog="{show: 'OpenMonitorDialog', hide: 'CloseMonitorDialog'}">
  <div data-ng-form="baseMonitorForm" data-ng-controller="MonitorFormController"
    data-jb-form-validation="{triggerOnEvent: 'OpenMonitorDialog', triggerOnLoad: false, validationRules: 'MonitorFormValidationRules'}"
    data-ui-keypress="{13: 'formHelper.submitAction()'}">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div data-ng-switch="$editMode">
        <h3 data-ng-switch-when="create">Create new monitor</h3>
        <h3 data-ng-switch-when="update">Edit monitor</h3>
      </div>
    </div>
    <div class="modal-body">
      <div class="baseConfiguration form-horizontal" data-ng-show="formHelper.showForm('defaultForm')">
        <div class="control-group" data-ng-class="{'error': inputInError('monitorName')}">
          <label class="control-label" for="monitorName">Name</label>
          <div class="controls">
            <input type="text" name="monitorName" class="input-large" placeholder="monitor name" 
              data-ng-model="monitorFormModel.name" data-ng-change="validateField('monitorName')">
          </div>
          <div class="controls">
            <div id="monitorNameRequiredError" class="help-inline" data-ng-show="baseMonitorForm.monitorName.$error.required">You must provide a monitor name.</div>
          </div>
        </div>
        <div class="control-group" data-ng-class="{'error': inputInError('monitorRefresh')}">
          <label class="control-label" for="monitorRefresh">Refresh interval</label>
          <div class="controls">
            <input class="input-mini" name="monitorRefresh" type="text" data-ng-model="monitorFormModel.refreshInterval" 
              data-ng-change="validateField('monitorRefresh')"> seconds
          </div>
          <div class="controls">
            <div id="monitorRefreshNumberError" class="help-inline" data-ng-show="baseMonitorForm.monitorRefresh.$error.number">You must enter a valid number.</div>
            <div id="monitorRefreshPositiveNumberError" class="help-inline" data-ng-show="baseMonitorForm.monitorRefresh.$error.positiveNumber">You must enter a positive number.</div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Type</label>
          <div data-ng-switch="$editMode">
            <div class="controls" data-ng-switch-when="create">
              <select name="monitorType" class="input-medium" 
                data-ng-model="monitorFormModel.type" 
                data-ng-options="t for t in availableMonitorTypes">
              </select>
            </div>
            <div class="controls" data-ng-switch-when="update">
              <span class="readonly-field">{{monitorFormModel.type}}</span>
            </div>
          </div>
        </div>
      </div>
      <div data-ng-repeat="monitorType in availableMonitorTypes">
        <div data-ng-include="'html/plugins/' + monitorType + '/monitor_form_partial.html'"></div>
      </div>
    </div>
    <div class="modal-footer">
      <span data-ng-repeat="action in formHelper.actions">
        <button id="configuration-{{action}}" data-ng-disabled="!formHelper.isActionEnabled(action)"
          class="btn btn-primary btn-label" data-ng-click="formHelper[action]()">{{action}}</button>
      </span>
      <button id="cancelMonitor" data-dismiss="modal" class="btn">Cancel</button>
    </div>
  </div>
</div>
