<div id="new-monitor-form" class="modal hide fade" role="dialog" aria-labelledby="monitorModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button id="closeDialog" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="monitorModalLabel">Create new monitor</h3>
  </div>
  <form data-ng-controller="MonitorFormController">
    <div class="modal-body">
      <div class="table-like">
        <div class="controls">
          <label for="monitorName">Name</label>
          <input type="text" name="monitorName" class="input-large" placeholder="monitor name" data-ng-model="monitorForm.name">
        </div>
        <div class="controls">
          <label for="monitorType">Type</label>
          <select name="monitorType" class="input-small" data-ng-model="monitorForm.type" data-ng-model="monitorForm.type" data-ng-change="displayMonitorOptions()">
            <option value="build" selected="selected">Build</option>
          </select>
        </div>
      </div>
      <div data-ng-include="'html/plugins/build_monitor_form.html'"></div>
      <hr/>
      <div class="control-group">
        <div class="controls">
          <label class="control-label" for="monitorRefresh">Refresh interval</label>
          <input class="input-mini" name="monitorRefresh" type="text" data-ng-model="monitorForm.refreshInterval"><span> seconds</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" id="saveMonitor" class="btn btn-primary" data-ng-click="saveMonitor()">Save</a>
      <a href="#" id="cancelMonitor" data-dismiss="modal" class="btn">Cancel</a>
    </div>
  </form>
</div>
