#about {
  background-color: #FFFFFF;
  margin-top: 20px;
  padding: 10px;
  .message-box(#FFF, #000);
  h4 {
    margin-top: 20px;
  }
}

#dashboard-navbar {
  padding-top: 4px;
  height: 32px;
  margin: 10px 0 2px 10px;
  ul {
    margin-bottom: none;
    border-bottom: none;
  }
  li {
    margin:0 3px;
    box-shadow: 1px 1px 2px 0 #56b8e6;
    .gradient-bg(#d1f0ff, #d1f0ff, #75d1ff);
    .top-rounded-corners;
    &.active {
      .gradient-bg(#fff, #fff, #c2EBFF);
      box-shadow: 2px 2px 1px 1px #fff;
      height: 32px;
      span {
        background-color: transparent;
        color: #333;
        cursor: auto;
      }
    }

    span {
      padding: 4px 4px;
      height: 24px;
      line-height: 24px;
      border: none;
      display: block;
      color: #0088CC;
      text-shadow:#f8f8f8 0 1px 0;
      cursor: pointer;
      .bottom-rounded-corners(0);
      .top-rounded-corners;
      &:hover {
        border: none;
        background-color: #FFF;
        color: #555555;
      }
    }
  }
}

#dashboard-container {
  overflow: visible;
  background-color: #fff;
  padding: 0 10px;
  box-shadow: 2px 2px 1px 0 #56b8e6;
  .rounded-corners;
}

#monitor-form {
  form {
    .table-like > .controls {
      label {
        padding: 4px 5px 4px 0;
      }
      option {
        display: block;
      }
    }
  }
}
