<!DOCTYPE html>
<html data-ng-app="jashboard">
<head>
  <meta charset="utf-8">
  <title>Jashboard</title>
</head>
<body data-ng-controller="MainController">
  <div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
      <div id="navbarMenu" class="container" data-ng-controller="MenuActionsController">
        <ul class="nav">
          <li>
            <span class="logo"><img src="img/logo.png" alt="logo"></span>
          </li>
          <li class="divider-vertical">
            <a href="#/About">About</a>
          </li>
          <li class="divider-vertical dropdown">
            <a id="menuActions" class="dropdown-toggle" data-toggle="dropdown" href="#">Actions <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menuActions">
              <li>
                <a class="menuAction-new-dashboard" href="#" data-ng-click="actionNewDashboard()">Create new dashboard</a>
              </li>
            </ul>
          </li>
        </ul>
        <div data-ng-include="'html/new_dashboard_dialog.html'"></div>
      </div>
    </div>
  </div>
  <div class="container" class="ng-cloack">
    <div class="no-dashboards hide alert alert-info" data-ng-hide="dashboards.length > 0">
      There are no configured dashboards.
    </div>
    <div id="dashboard-navbar" data-ng-show="dashboards.length > 0">
      <ul class="nav nav-tabs">
        <li class="dashboard-tab" data-ng-class="{active: ($index == 0)}" data-ng-repeat="dashboard in dashboards">
          <a href="#{{dashboard.id}}" data-toggle="tab" data-ng-bind="dashboard.name"></a>
        </li>
      </ul>
    </div>
    <div id="dashboard-container" class="tab-content" data-ng-controller="DashboardContentController">
      <div data-ng-include="'html/new_monitor_dialog.html'"></div>
      <div id="{{dashboard.id}}" class="tab-pane" data-ng-class="{active: ($index == 0)}" data-ng-repeat="dashboard in dashboards">
        <div class="menubar">
          <div class="dashboard-actions">
            <div class="dropdown">
              <a id="{{dashboard.id}}-actions" class="dropdown-toggle" data-toggle="dropdown" href="#">Dashboard actions<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="{{dashboard.id}}-actions">
                <li><a class="new-monitor" href="#" data-ng-click="actionNewMonitor()">New Monitor</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="dashboard-content">
          <div id="{{monitor.id}}" class="monitor-panel" data-ng-repeat="monitor in dashboard.monitors">
          <div class="monitor-title">
            <span>{{monitor.name}}</span>
            <span data-ng-hide="monitor.loadingStatus == 'completed'"><img src="img/ajax-loader-arrows.gif"></span>
          </div>
            <div class="monitor-details">
              <div data-ng-include="'html/plugins/' + monitor.type + '/monitor_runtime_view.html'"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type='text/javascript' src='steal/steal.js?jashboard/loader.js'></script>
  <div id="waiting-overlay" class="hide">
    <div class="waiting-msg"><img src="img/ajax-loader-snake.gif"> Loading dashboards... Please wait.</div>
  </div>
</body>
</html>
